apiVersion: v1
kind: Secret
metadata:
  name: login-service-secret
  namespace: microforge-dev-ns
type: Opaque
stringData:
  DB_USERNAME: <your-value>
  DB_PASSWORD: <your-value>
  JWT_SECRET: <your-value>