# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Coverage
htmlcov/
.coverage

# Flask instance folder
instance/

# Env files
.env
.env.*.local

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
