name: Build, Test and Push Docker Image
on:
    push: 
        branches:
          - master

jobs:
    docker-build:
        runs-on: ubuntu-latest
        defaults:
          run:
            shell: bash
            working-directory: ./src
        strategy:
          matrix:
            service:
                - name: login-service
                  image: manojmdocker14/microforge-login-service
                - name: auth-service
                  image: manojmdocker14/microforge-auth-service
                - name: frontend-service
                  image: manojmdocker14/microforge-frontend-service
                - name: metadata-service
                  image: manojmdocker14/microforge-metadata-service
                - name: notification-service
                  image: manojmdocker14/microforge-notification-service